<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Order a Pet</h3>

<form action="" method="post">

    <input type="text" name="pet-name" value="">

    <h4>Pet Color:</h4>

    <check if="{{ isset(@errors['color']) }}">
        <p>{{ @errors['color'] }}</p>
    </check>
    <check if="{{ isset(@errors['type']) }}">
        <p>{{ @errors['type'] }}</p>
    </check>
    <check if="{{ isset(@errors['name']) }}">
        <p>{{ @errors['name'] }}</p>
    </check>

    <select class="form-control" name="pet-color" id="pet-color">
        <option>--Select--</option>
        <repeat group="{{ @colors }}" value="{{ @colorOption}}">
            <option>
                <check if="{{ @colorOption == @color }}">selected</check> {{ @colorOption }}
            </option>
        </repeat>
    </select>

    <h4>Pet Type:</h4>
    <input type="text" name="pet-type" value="">
    <br>

    <input type="submit" value="submit">

    <!-- If submission was successful, display a confirmation -->
    <check if="{{ @success }}">
        <h2>Thank you for your order of a {{ @type }}</h2>
    </check>
</form>
</body>
</html>